body {
  background-color:yellow;
  font-family: sans-serif;
}

h1 {
  color: black;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
}

p.intro {
  color: black;
}

summary {
  font-size: 4rem;
}

span.par {
  background-color: purple;
}

span.impar {
  background-color: purple;
}